.work_box {
    width: 90%;
    min-width: 400px;
    padding: 0px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #909090;
}
.content {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}
.logo {
    width: 250px;
    height: auto;
    /* height: 80px; */
    /* position: relative; */
    /* left: 15px; */
    margin-top: auto;
    margin-bottom: auto;
}
.description {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h4 {
    margin: 0px;
    font-weight: 600;
    font-size: 16pt;
}

h5 {
    margin: 0px;
    font-weight: 400;
    font-size: 11pt;
}

h6 {
    margin: 0px;
    font-weight: 400;
    font-size: 10pt;
}

.job-responsibility {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#job_description {
    width: 95%;
    font-weight: 400;
    font-size: 11pt;
    margin: 5px;
}