.img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fitscreen {
    width: 60%;
    height: auto;
    position: center;
    margin-left: auto;
    margin-right: auto;
}
.scroll-container {
    margin-top: 5px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
.scroll-container img {
    padding: 10px;
}
.photo {
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovering over the thumb */
}

/* Sub-bullet styling */
.sub-bullets {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5;
}

.sub-bullets li {
    margin-bottom: 15px;
    list-style-type: circle;
}

.sub-bullets strong {
    font-weight: 600;
    color: #444;
}