article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* General Elements */

* {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

html {
	height: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  color: #111;
  background: #fafafa;
  line-height: 1.65;
}

h1 {
	font-family: 'Roboto Slab';
	font-size:2em;
	text-transform:uppercase;
	font-weight: 700;
}

h3 {
	font-family: 'Roboto Slab';
	font-size:1.4em;
	text-transform:uppercase;
	font-weight: 700;
	margin-bottom: 3px
}

h2 {
	font-family: 'Roboto Slab';
	font-size:0.95em;
	text-transform:uppercase;
	font-weight: 700;
	display: inline;
}

body {
	font-family: 'Roboto Slab';
	color: #000;

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	vertical-align: middle;
	border: 0 none;
    border-radius: 3%;
    margin-left: 20px;
}

a {
	padding-bottom: 5px;
	color: darkred;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	position:relative;
	top:-2px;
}

p {
	margin-bottom: 24px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.6;

	-webkit-font-smoothing: antialiased;
}

p:last-child {
	margin-bottom: 0;
}

p.intro {
	font-size: 1.2em;
}

ul {
	margin-bottom: 24px;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
	margin-left: 30px;
	margin-right: 60px;
	-webkit-font-smoothing: antialiased;
}

ul:last-child {
	margin-bottom: 0;
}

ul.intro {
	font-size: 1em;
}

ul.pubs > li{
	margin-bottom: 1.2em;
}

.aParent div {
  float: left;
  clear: both; 
}

.wrapper {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 24px 80px;
}

.posts-wrapper {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}


.question {
	margin-left: 40px; 
	padding:5px;
	border-width:1px;
	border-color:darkred;
	border-style: solid solid solid solid;
 	height: 192px; width: 800px; overflow: auto;
 	font-size:0.8em;
}


.hidden {
    display: none;
}
.unhidden {
    display: table;
    position:relative;
/*    width:80%;
*/}

pre {
	background-color: #f5f5f5;
	color: #110000;
	border: 3;
	font-size:0.9em;
	line-height:1.2em;
	max-width: 950px;

	white-space: pre-wrap;       /* css-3 */  
	word-wrap: break-word;       /* Internet Explorer 5+ */
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0.75em;
}

/*::-webkit-scrollbar:horizontal {
    height: 12px;
}*/

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1em;
    border: 2px solid #ffffff;
}

.badge-code {
    color: #fff;
    background-color: #28a745;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

/* header, nav, main, footer {
    background-color: #d6ccc2;
} */
/* contact and social medica account section */
.contact-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px; /* Space between email and icons */
}
.social-link {
	width: 24px;
	height: 24px;
	margin-left: 5px;
}
.social-link:hover {
    transform: scale(1.2);
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    border-bottom: 1.5px solid black;
}