#header {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li, a {
    display: inline;
    padding: 15px;
    font-family: Lato;
    font-weight: 700;
    text-decoration: none;
    color:black;
}

#orderOnline {
    background-color: #ebcd50;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Lato;
    font-weight: 700;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

p {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.headerwrapper {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contentwrapper {
    display: flex;
    gap: 50px;
    margin: 80px;
    margin-block: 60px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1250px;
    height: 600px;
    border: 10px solid #ebcd50;
    background: white;
    margin: 200x;
}

.leftImg, .rightImg {
    opacity: 1;
}
#rightImg1:hover, #rightImg2:hover, #rightImg3:hover, #grill:hover{
    opacity: 0.8;
}

.footerwrapper {
    display: flex;
    margin: 20px;
    padding-left: 150px;
    font-size: 16px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#footerText {
    font-family: "Bree Serif";
}